@model DataLayer.Models.Incident

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeName" class="control-label"></label>
                <input asp-for="CodeName" class="form-control" />
                <span asp-validation-for="CodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargettedSystem" class="control-label"></label>
                <input asp-for="TargettedSystem" class="form-control" />
                <span asp-validation-for="TargettedSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfOcurence" class="control-label"></label>
                <input asp-for="DateOfOcurence" class="form-control" />
                <span asp-validation-for="DateOfOcurence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Fk" class="control-label"></label>
                <input asp-for="User_Fk" class="form-control" />
                <span asp-validation-for="User_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project_Fk" class="control-label"></label>
                <input asp-for="Project_Fk" class="form-control" />
                <span asp-validation-for="Project_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level_Fk" class="control-label"></label>
                <input asp-for="Level_Fk" class="form-control" />
                <span asp-validation-for="Level_Fk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

