@using DataLayer.DbContexts
@using DataLayer.Repositories
@using Microsoft.AspNetCore.Identity
@using DataLayer.Areas.Identity.Data
@using DataLayer.Models;

@inject SignInManager<HelpdeskUser> SignInManager
@inject UserManager<HelpdeskUser> UserManager

@{
    // ToDo: Find reason why UserManager does not return all navigation properties
    HelpdeskUser? currentUser = await UserManager.GetUserAsync(User);

    if (currentUser != null)
    {
        IdentityDbContextFactory factory = new IdentityDbContextFactory();
        UserRepository userRepository = new UserRepository(factory.CreateDbContext(new string[0]));
        currentUser = userRepository.GetById(currentUser.Id);
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ProjectRoles" asp-action="Index">Project Roles</a>
    </li>
    if (currentUser != null && currentUser.ActiveProject != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">[@currentUser.ActiveProject.Name] Role Management</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProjectChoice" asp-action="Index">Active Project Choice</a>
        </li>
    }
}
