@using DataLayer.DbContexts
@using DataLayer.Repositories
@using Microsoft.AspNetCore.Identity
@using DataLayer.Areas.Identity.Data
@using DataLayer.Models;

@inject SignInManager<HelpdeskUser> SignInManager
@inject UserManager<HelpdeskUser> UserManager

@{
    // ToDo: Find reason why UserManager does not return all navigation properties
    HelpdeskUser? currentUser = await UserManager.GetUserAsync(User);

    if (currentUser != null)
    {
        IdentityDbContextFactory factory = new IdentityDbContextFactory();
        UserRepository userRepository = new UserRepository(factory.CreateDbContext(new string[0]));
        currentUser = userRepository.GetById(currentUser.Id);
    }
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ProjectRoles" asp-action="Index">Project Roles</a>
    </li>
    if (currentUser != null && currentUser.ActiveProject != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProjectChoice" asp-action="Index">Change Active Project</a>
        </li>

        <li class="divider">

        </li>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark">[@currentUser.ActiveProject.Name]</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Roles Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="Index">Incidents Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="EscalationActions" asp-action="Index">Actions Management</a>
            </li>
        </ul>

        <li class="divider">

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="ProjectChoice" asp-action="Index">Choose Active Project</a>
        </li>
    }
}
